# ─── Backend ────────────────────────────────────────────────────────
NODE_ENV=development
PORT=3000

# ─── MongoDB ────────────────────────────────────────────────────────
MONGODB_URI=mongodb://localhost:27017/RUPE

# ─── CORS ───────────────────────────────────────────────────────────
CORS_ORIGIN=http://localhost:4200

# ─── Fuentes de datos externas ──────────────────────────────────────
COMPRAS_RSS_URL=https://www.gub.uy/agencia-compras-contrataciones-estado/rss